# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.env

# Packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg

# Pytest & Allure
.pytest_cache/
*.html
*.xml
allure-report*/

# Logs
*.log
*.out
.json
report.json

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# older files
code_lama